
{% extends 'cliente/home.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'cliente/css/style.css'%}">
{% endblock %}

{% block contenido %}

      <section class="video" >
          
        
          
          <video id="video" src="{% static 'cliente/videos/PS5Brand GameRangeFeel LATAM ES Video 16x9 30sec Digital.mp4'%}" autoplay muted loop ></video>
        
      </section>

   
   
      <!-- noticias-->

       <div class="contenedor">
        <div class="contenedor1">
          <div class="contenedor2">
            <img src="{% static 'cliente/img/1713908224_nintendo.webp' %}" class="d-block w-100" alt="">
          </div>
          <div class="contenedor3">
            <img src="{% static 'cliente/img/1713908729_ps4.webp' %}" class="d-block w-100"alt="">
          </div>
          <div class="contenedor4">
            <img src="{% static 'cliente/img/1713909007_banner-chile.webp' %}" class="d-block w-100"alt="">
          </div>
        </div>
      </div>
      
<!-- CARDS-->
    <section>
      <div class="linea">
        <h2 class="titulo2" id="titulo3">ESTRENOS</h2>
        <div class="line"></div>
      </div>
      
      
      <div class="juntar"> <!-- CARDS AL LADO DE Otra-->
        <!-- CARD 1 -->
        <div class="cards">
            <a href="{% url 'gow'%}" class="enlace" ></a>
            <img class="imagen2" loading="lazy" src="{% static 'cliente/img/gow carrito.png'%}"  class="card-img-top" alt="...">
            
          
          </div>
            <!--Opcion comprar-->
            
          
        
    
        <!-- CARD 2 -->
        <div class="cards">
          <a href="{% url 'dmc' %}" class="enlace" ></a>
          <img class="imagen2" loading="lazy" src="{% static 'cliente/img/dmc.webp'%}"  class= "card-img-top" alt="...">
        </div>
        <!-- CARD 3-->
        
        <div class="cards">
          <a href="{% url 'bloodborne' %}" class="enlace" ></a>
          <img class="imagen2" loading="lazy" src="{% static 'cliente/img/bloodborne-5k-2880x1800-13122.png'%}" class="card-img-top" alt="...">
        </div>
        <!-- CARD 4 -->
        <div class="cards">
          <a href="{% url 'spider' %}" class="enlace" ></a>
          <img class="imagen2" loading="lazy" src="{% static 'cliente/img/spider-man-2-official-game.jpg'%}" class="card-img-top" alt="...">
        </div>

      
  <!--proximamente-->
    </div>
  </section>
    <!--proximamente-->
    <div class="linea">
      <h2 class="titulo2" id="titulo2">PROXIMAMENTE</h2>
      <div class="line"></div>
    </div>
      <!-- Contador  -->
      <section class="contador" id="contador">
        <p>
          <img src="{% static 'cliente/img/Death_Stranding_2_logo.png'%}" width="20%" alt="">
            <span id="days"></span> días : <span id="hours"></span> horas : <span id="minutes"></span> minutos : <span id="seconds"></span> segundos
          <button type="button" class="btn btn-primary">Reservar</button> 
        </p>
    </section>
    <!-- Fin contador  -->

  <div class="linea">
      <h2 class="titulo2" id="titulo">2025</h2>
      <div class="line"></div>
    </div>
    
    <!--carrusel-->
 
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'cliente/img/maxresdefault.jpg'%}" class="imagen" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Grand Theft Auto VI</h5>
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'cliente/img/death stranding 2.jpg'%}" class="imagen" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Death Stranding 2</h5>
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'cliente/img//silent hill 2 remake.jpg'%}" class="imagen" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Silent Hill 2 Remake</h5>
              <p></p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" id="prev" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" id="next" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
{% endblock %}