
{% extends 'cliente/home.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'cliente/css/style.css'%}">
{% endblock %}

{% block js %}
<script src="{% static 'cliente/js/script.js'%}"></script>
    <script src="{% static 'cliente/js/cambio-fondo.js'%}"></script>
    <script src="{% static 'cliente/js/api.js'%}"></script>
{% endblock %}

{% block contenido %}



      <section class="video" >

          <video id="video" src="{% static 'cliente/videos/PS5Brand GameRangeFeel LATAM ES Video 16x9 30sec Digital.mp4'%}" autoplay muted loop ></video>
        
      </section>

   
   
      <!-- noticias-->

       <div class="contenedor">
        <div class="contenedor1">
          <div class="contenedor2">
            <img src="{% static 'cliente/img/1713908224_nintendo.webp' %}" class="d-block w-100" alt="">
          </div>
          <div class="contenedor3">
            <img src="{% static 'cliente/img/1713908729_ps4.webp' %}" class="d-block w-100"alt="">
          </div>
          <div class="contenedor4">
            <img src="{% static 'cliente/img/1713909007_banner-chile.webp' %}" class="d-block w-100"alt="">
          </div>
        </div>
      </div>
      
<!-- CARDS-->
<section>
  <div class="linea">
    <h2 class="titulo2" id="titulo3">ESTRENOS</h2>
    <div class="line"></div>
  </div>
  <div class="juntar"> 
      {% for juego in juegos %}
      
        {% if juego.estreno %}
        
          
            <div class="cards">
                <a href="{% url 'game' idjuego=juego.idjuego %}" class="enlace"></a> 
                <img class="imagen2" loading="lazy" src="{{ juego.imagen.url }}" class="card-img-top" alt="...">
            </div>
          
      
        {% endif %}
    
    {% endfor %}
</div>
</section>

      
  <!--proximamente-->
    </div>
  </section>
    <!--proximamente-->
    <div class="linea">
      <h2 class="titulo2" id="titulo2">PROXIMAMENTE</h2>
      <div class="line"></div>
    </div>
      <!-- Contador  -->
      <section class="contador" id="contador">
        <p>
          <img src="{% static 'cliente/img/Death_Stranding_2_logo.png'%}" width="20%" alt="">
            <span id="days"></span> días : <span id="hours"></span> horas : <span id="minutes"></span> minutos : <span id="seconds"></span> segundos
          <button type="button" class="btn btn-primary">Reservar</button> 
        </p>
    </section>
    <!-- Fin contador  -->

  <div class="linea">
      <h2 class="titulo2" id="titulo">2025</h2>
      <div class="line"></div>
    </div>
    
    <!--carrusel-->
    <div id="carouselExampleCaptions" class="carousel slide" >
      <div class="carousel-indicators">
        {% for carrou in carrousel %}
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{forloop.counter0}}" class="active" aria-current="true" aria-label="Slide 1"></button>
        {% endfor %}
      </div>
      
      <div class="carousel-inner">
        {% for carrou in carrousel %}
        <div class="carousel-item {% if forloop.first %} active {% endif %}">
          <img src="{{carrou.imagen.url}}" class="imagen" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5> {{carrou.nombre}} </h5>
            <p></p>
          </div>
        </div>
        {% endfor %}
      </div>
      
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" id="prev" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" id="next" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
{% endblock %}