
html{
  height: 945px;
}
body {
  background: linear-gradient(rgb(40, 40, 40), rgb(56, 56, 56));
}

.imagen{
    height: 750px;
    
    
}




  /*registrarse*/


.container {
    margin: auto ;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    min-width: 50%;
    
}
@media only screen and (max-width: 768px){
  .container{
      
      max-width: calc(100vw - 42px);
    
      
      
  }}
.cuadrado {
    width: auto;
    height: auto;
    
    color: #000000;
    text-align: center;
    line-height: 50px;
    margin-bottom: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
}

.registro-form label {
    margin-top: 10px;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.registro-form input[type="text"],
.registro-form input[type="email"],
.registro-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
/*Enviar*/
.registro-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #00ff7b;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}




.errores{
  
    color: red  ;
    display: none;
    position: relative;
    
    
}


.navbar-text{
    color: #fff;
    text-decoration-line: none;
  }
  b{
    color: #fff;
    
  }
  @media only screen and (max-width: 990px) {
  #iniciar{
    margin-left: 0;
    margin-top: 5px;
  }}
  
  
  
  #formulario{
  color: #fff;
  text-decoration-line: none;
  }
  
  .navbar-nav{
 
    font-size: 20px;
    font-weight: 500; 
    
  }
   footer {
    background-color: red;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    color: black
  }

  #footer{
    background: linear-gradient(rgb(40, 40, 40), rgb(56, 56, 56))  !important;
    color: #fff;
  }
  .input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #fff;
    
    transition: 300ms ease-in-out;
  }
  
