body{
  background: linear-gradient(rgb(40, 40, 40), rgb(56, 56, 56));;
 }
.btn-primary {
    margin-left: 5px;
    margin-bottom: 5px;
}



.btn{
    color: white;
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}
.modal-backdrop {
    --bs-backdrop-zindex: none;
}
.modal-content{
    background-color: rgb(255, 255, 255);
}
.registrarse{
    margin-bottom: 1px;
}
.juntar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-text{
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}
.option-shop{
    text-align: center;
}

.card{
  
    --bs-card-border-width: 0px;
    -webkit-box-shadow: 6px 0px 26px 5px rgba(0,0,0,1);
    -moz-box-shadow: 6px 0px 26px 5px rgba(0,0,0,1);
    box-shadow: 6px 0px 26px 5px rgba(0,0,0,1);
    box-sizing: border-box;
    border: 1px solid purple; 

    margin: 5% 20px;
    max-width: 100%;
    max-height: 100%;
     transition: 1.5s ease;
      -moz-transition: 1.5s ease; /* Firefox */
      -webkit-transition: 1.5s ease; /* Chrome - Safari */
      -o-transition: 1.5s ease; /* Opera */
 }
 .card:hover{
     transform : scale(1.2);
     -moz-transform : scale(1.2); /* Firefox */
     -webkit-transform : scale(1.2); /* Chrome - Safari */
     -o-transform : scale(1.2); /* Opera */
     -ms-transform : scale(1.2); /* IE9 */
 }
.titulo{
    text-align: center;
    margin: 6%;
    font-family:monospace ;
    color: #fff;
    margin-bottom: 30px;
}


#footer{
    --bs-bg-opacity: 0;
    color: #fff;
}


  @media only screen and (max-width: 760px) {
    .btn-primary{
        margin-left: 0px;
        
    }
  }
  @media only screen and (max-width: 760px) {
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        flex-wrap: nowrap;
        
    }
  }

 

  @media only screen and (max-width: 760px) {
    .titulo {
      margin-top: 80px;
      
    }
  }

  @media only screen and (max-width: 760px) {
    .card {
      margin-bottom: 5%;
      
    }
  }
  html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
  }
  footer {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    color: black
  }

  .nav-item:hover{
    background-color:#ebeef0;
    
    border-radius: 32px;
    transition: .25s;
  
  }
  

  
.navbar-text{
  color: #fff;
  text-decoration-line: none;
}
b{
  color: #fff;
  
}
@media only screen and (max-width: 990px) {
#iniciar{
  margin-left: 0;
  margin-top: 5px;
}}

.btn-primary{
  margin-bottom: 5px;
}

#formulario{
color: #fff;
text-decoration-line: none;
}
.btn-outline-success {
  margin-left:2px ;
}
.navbar-nav{
 
  font-size: 20px;
  font-weight: 500; 
  
}
