<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones</title>
    {% load static %}
    <link rel="stylesheet" href="{% static  'css/admini.css'%}">
</head>
<body>
    <a href="{%url 'index'%}" > Volver a la Web</a>
    <a href="{%url 'crud'%}" > Clientes</a>
    <a href="{% url 'crud_juegos'%}"> Juegos </a>
    <a href="{% url 'crud_carrusel'%}"> Carrusel </a>
    <a href="{% url 'crud_carrito'%}"> Carrito de Clientes </a>
    <a href="{% url 'peticiones'%}"> Peticiones </a>
</body>
</html>