<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <button><a href="{% url 'admin' %}"> volver</a></button>
    <table style="border: 1px solid black;">
        {% if carrusel %}
        <th style="border: 1px solid black;">Nombre</th>
        <th style="border: 1px solid black;">Imagen</th>
      
      
        
    {% endif %}



<form action="" method="POST" enctype="multipart/form-data" >
          {% csrf_token %}
          {{ form.as_p }}
          <input style="position: relative; top: 190px; left: 50px;" type="submit" name="opcion" value="Agregar"> 
         <a style="position: relative; top: 190px; left: 100px;" href="{% url 'crud_carrusel' %}">Volver</a>

</form>

{% if messages %}
         {% for m in messages%}
             <script>
                 Swal.fire({
                     "title":"{{m}}",
                     "text":"",
                     "icon":"success"
                 })
             </script>
         {% endfor %}
     {% endif %} 