<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    
    
    


<form action="" method="POST" enctype="multipart/form-data" >
          {% csrf_token %}
          {{ form.as_p }}
          <div style="text-align: right;">
            <input type="submit" name="opcion" value="Agregar">
            <a href="{% url 'crud' %}">Volver</a>
        </div>

</form>

{% if messages %}
         {% for m in messages%}
             <script>
                 Swal.fire({
                     "title":"{{m}}",
                     "text":"",
                     "icon":"success"
                 })
             </script>
         {% endfor %}
     {% endif %} 