<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud clientes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/juegos.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <script>
        function Eliminarproducto(id) {
            console.log(id);
            Swal.fire({
                title: "¿Estás seguro de eliminar este cliente?",
                text: "",
                icon: "question",
                showCancelButton: true,
                cancelButtonText: "Cancelar",
                confirmButtonText: "Eliminar",
                confirmButtonColor: "#dc3545"
            }).then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "/administrador/clientes_del/" + id;
                }
            });
        }
    </script>

   <a href="{% url 'admin' %}"  class="btn btn-primary">Volver</a>
    <h1 style="color: #fff;">Clientes</h1>
    <a href="{% url 'crearc' %}" class="btn btn-success">Agregar</a>
    <br>
    <br>
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Rut</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Email</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.rut }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido_paterno }}</td>
                    <td>{{ cliente.id_genero }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>
                        <a href="#" onclick="Eliminarproducto('{{ cliente.email }}')" class="btn btn-danger">Eliminar</a>
                        <a href="{% url 'clientes_edit' pk=cliente.rut %}" class="btn btn-primary">Modificar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        

        {% if messages %}
        {% for m in messages %}
        <script>
            Swal.fire({
                title: "{{ m }}",
                text: "",
                icon: "success"
            });
        </script>
        {% endfor %}
        {% endif %}

       
    </div>

</body>
</html>
