<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud clientes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static  'css/juegos.css'%}">
</head>
<body>
  <button><a href="{% url 'admin' %}"> volver</a></button>
    <h1>Clientes</h1>
  

<table style="border: 1px solid black;">
    {% if clientes %}
    <th style="border: 1px solid black;">RUT</th>
    <th style="border: 1px solid black;">NOMBRE</th>
    <th style="border: 1px solid black;">APELLIDO</th>
    <th style="border: 1px solid black;">GENERO</th>
    <th style="border: 1px solid black;">EMAIL</th>
    <th style="border: 1px solid black;">contraeña</th>
    {% for cliente in clientes %}
  <tr>
    <td id="rut">{{cliente.rut}}</td>
    <td id="nombre">{{cliente.nombre}}
    <td id="apellido">{{cliente.apellido_paterno}}
    <td id="genero">{{cliente.id_genero}} 
    <td id="email">{{cliente.email}}
      <td id="contraseña">{{cliente.contraseña}} </td>
      <td> <a href="{% url 'crearc' %}">Agregar</a></td>
    <td><a href="{% url 'clientes_del' pk=cliente.rut %}">Eliminar</a></td>
    <td> <a id="btn" href="{% url 'clientes_edit' pk=cliente.rut %}">Modificar</a></td>
  </tr>
    {% endfor %}
    
{% endif %}


{% if cliente %}

  <h2>Modificar Clientes</h2>

  <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_table }}

    
    <input style="position: relative; top: 190px; left: 50px;" type="submit" name="opcion" value="Actualizar">
  </form>
  <a style="position: relative; top: 190px; left: 100px;" href="{% url 'crud'%}">Volver</a>
  {% endif %}



 


</body>
</html>