<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/juegos.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  
    <a href="{% url 'admin' %}" class="btn btn-primary"> Volver</a>
    <h1 style="text-align: center;">Carrito de Clientes </h1>
  
<div class="container-fluid">
    <table style="border: 1px solid black;">
        <thead>
            <tr>
                <th style="border: 1px solid black;">ID</th>
                <th style="border: 1px solid black;">Email del Cliente</th>
                <th style="border: 1px solid black;">Juegos</th>
                <th style="border: 1px solid black;">Precio Total</th>
            </tr>
        </thead>
        <tbody>
            {% if carrito %}
                {% for carr in carrito %}
                    <tr>
                        <td style="border: 1px solid black;">{{ carr.idcarrito }}</td>
                        <td style="border: 1px solid black;">{{ carr.correo_cliente }}</td>
                        <td style="border: 1px solid black;">
                            {% for juego in carr.juegos.all %}
                                <img src="{{ juego.imagen.url }}" alt="{{ juego.nombre }}" style="width: 50px; height: 50px;">
                                <span>{{juego.cantidad_en_carrito}}</span>
                            {% endfor %}
                        </td>
                        <td style="border: 1px solid black;">{{ carr.precio_total }}</td>
                    </tr>
                {% endfor %}
          
            {% endif %}
        </tbody>
    </table>
</div>   
   


 
</body>
</html>