<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/juegos.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  
    <a href="{% url 'admin' %}" class="btn btn-primary"> volver</a>
    <h1 style="text-align: center;">Carrusel de juegos para el 2025 </h1>
    <a href="{% url 'carrusel_add' %}" class="btn btn-success">Agregar nueva imagen al carrusel</a>
    <br>
    <br>
<div class="container-fluid">
    <table style="border: 1px solid black;">
        <thead>
            <tr>
                <th style="border: 1px solid black;">Nombre</th>
                <th style="border: 1px solid black;">Imagen</th>
                <th style="border: 1px solid black;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if carrusel %}
                {% for carr in carrusel%}
                    <tr>
                        <td style="border: 1px solid black;">{{ carr.nombre }}</td>
                        <td style="border: 1px solid black;"><img src="{{ carr.imagen.url}}" width="150px" alt=""></td>
                        <td><a href="{% url 'carrusel_del' nombre=carr.nombre %}" class="btn btn-danger" >Eliminar</a>
                            <a id="btn" href="{% url 'carrusel_edit' nombre=carr.nombre%}"  class="btn btn-primary" >Modificar</a>
                        </td>
                        
                {% endfor %}
                
            {% endif %}
        </tbody>
    </table>
    
</div>  

    
  


 
</body>
</html>