body {
    background-color: #333333;
    
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}

table {
    width: 80% ;
    margin: 0 auto; 
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 20px solid #ddd; 
    
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd; 
}

th {
    background-color: #e9af26;
    color: #62561d;
    text-align: center; 
}

tr:hover {
    background-color: #f5f5f5;
    text-decoration: none;
}



form {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    margin: 20px 0;
}



a.btn {
    margin: 10px 0;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

@media screen and (max-width: 768px) {
    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        font-size: 14px; /* Reduce text size for small devices */
    }

    th, td {
        padding: 8px; /* Reduce cell padding */
    }
}