{% extends 'cliente/home.html' %}


{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block css %}

<link rel="stylesheet" href="{% static  'cliente/css/style.css'%}">
<link rel="stylesheet" href="{% static  'cliente/css/carrito.css'%}">
{% endblock %}

{% block js %}
<script src="{% static 'cliente/js/script.js'%}"></script>
<script src="{% static 'cliente/js/cambio-fondo.js'%}"></script>
<script src="{% static 'cliente/js/api.js'%}"></script>

<script>
    function Eliminarproducto(id,correo){
        Swal.fire({
            "title":"¿Estas Seguro de eliminar este juego?",
             "text":"",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"Cancelar",
            "confirmButtonText":"Eliminar",
            "confirmButtonColor":"#dc3545"
        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "/cliente/Registros/carrito_del/" + id + "/" + correo ;


            }
        })
    }
</script>

{% endblock %}



{% block contenido %}
{% if user.is_authenticated %}
    {% if carrito %}
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="carrito">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h3>Carro ({{ carrito.juegos.count }} Items)</h3>
                                    <h4>Productos en el carrito de {{ user.first_name }}</h4>
                                </div>
                                <div class="card-body">
                                    {% for juego in carrito.juegos.all %}
                                        <div class="row g-0 mb-3">
                                            <div class="col-md-4">
                                                <img src="{{ juego.imagen.url }}" class="img-fluid rounded-start" alt="Imagen de {{ juego.nombre }}">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ juego.nombre }}</h5>
                                                    <p class="card-text"><small class="text-body-secondary">Precio: ${{ juego.precio }}</small></p>
                                                    <p class="card-text"><small class="text-body-secondary">Cantidad: {{ juego.cantidad_en_carrito }}</small></p>
                                                    <a href="#" onclick="Eliminarproducto('{{ carrito.correo_cliente }}', '{{ juego.idjuego }}')" style="font-style: italic; text-decoration: none;">Eliminar</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-light mb-3" id="card-precio">
                            <div class="card-header">Resumen ({{ carrito.total_juegos }} Juegos)</div>
                            <div class="card-body">
                                <h5 class="card-title">Precio Total de Juegos</h5>
                                <p class="card-text">${{ carrito.precio_total  }}</p>
                            </div>
                            <div class="card-header"><button type="button" class="btn btn-success">Comprar</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endif %}

{% endblock %}
