{% extends 'cliente/home.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'cliente/css/detalles.css'%}">
{% endblock %}

{% block js %}


    <script src="{% static 'cliente/js/api.js'%}"></script>
{% endblock %}

{% block contenido %}

<div class="container" >
    <img class="img-fluid" src="{% static 'cliente/img/dmc.webp'%}" alt="" >
  </div>
  <div class="container-card">
  <div class="card text-bg-dark mb-3" style=>
    <div class="card-header" ><h1>Devil May Cry 5</h1></div>
    <div class="card-body-1">
      <h6 class="card-title-2" style="  margin-left: 5px; border: 1px solid #fff; min-width: 7%; height: 30px;padding: 3px;" > PS5 </h6> <h6 class="card-title" > Edicion Estandar</h6>
    </div>
    <div class="card-body">
      <p class="card-text-1">
        4.82 <img src="/img/estrella.png" width="40px" style="margin-bottom: 5px;" alt=""> 
        <img src="/img/estrella.png" width="40px" style="margin-bottom: 5px;" alt="">
        <img src="/img/estrella.png" width="40px" style="margin-bottom: 5px;" alt="">
        <img src="/img/estrella.png" width="40px" style="margin-bottom: 5px;" alt="">
        <img src="/img/estrella.png" width="40px" style="margin-bottom: 5px;" alt=""> 100 mil Calificaciones
      </p>
      <br>
      <br>
      <h3 >CLP 34.990$</h3>
      
      <button type="button" id="preciogow"  class="btn btn-primary-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Agregar al Carrito
      </button>
     
    </div>
  </div>
  <!--info juego-->
  
    <div class="container-info">
    <p> <img src="/img/mandopng.png" width="40px" style="margin-right: 5px;" alt="">Juego Offline Activado</p>
    <p> <img src="/img/user_icon_149851.png" width="40px"  alt="">1 Jugador</p>
    
    <p> <img src="/img/mATURE 17.jpg" width="40px" alt="">Derramiento de Sangre</p>
    </div>  
       
  </div>  
   <!--trailer-->
      <details>
          <summary>TRAILER</summary>
          <div class="video">
           <video controls autoplay muted src="{% static 'cliente/videos/Devil May Cry 5 - Tráiler anuncio E3 2018.mp4'%}">  </video>
          </div>
      </details>
      
      
  
{% endblock %}