{% extends 'cliente/home.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'cliente/css/detalles.css'%}">
{% endblock %}

{% block js %}


    <script src="{% static 'cliente/js/api.js'%}"></script>
{% endblock %}

{% block contenido %}

<!--TITULO-->

{% if juegos  %}
{%for categoria in categorias %}
<div class="container" >
  <img class="img-fluid" src="{{juegos.imagen.url}}" alt="" >
</div>
<div class="container-card">
<div class="card text-bg-dark mb-3" style=>
  <div class="card-header" ><h1>{{juegos.nombre}}</h1></div>
  <div class="card-body-1">
      <h6 class="card-title-2" style=" margin-left: 5px; border: 1px solid #fff; min-width: 7%; height: 30px;padding: 3px;" > {{categoria.nombre}} </h6> <h6 class="card-title" > Edicion Estandar</h6>
  </div>
  <div class="card-body">
    <p class="card-text-1">Puntuacion : {{juegos.puntuacion}}</p>
    <p class="card-text-1">
    </p>
    {%if juegos.stock <= 0 %}
    <p>Sin Stock</p>
    <h3 >CLP {{juegos.precio}}$</h3>
    {%else%}
    <p>Stock Disponible: {{juegos.stock}}</p>
    <h3 >CLP {{juegos.precio}}$</h3>
    {% if user.is_authenticated %}
    <button type="button" id="preciogow"  class="btn btn-primary-2"> <a href=" {% url 'carrito_add' correo=user.username idjuego=juegos.idjuego %}"  style="color: #fff; text-decoration: none;">Agregar al carrito</a> </button>
    
    {% else %}
    <button type="button" id="preciogow"  class="btn btn-primary-2"> <a href="{% url 'login' %}" style="color: #fff; text-decoration: none;">Agregar al carrito</a> </button>
    {% endif %}
    {% if messages %}
            {% for m in messages%}
                <script>
                    Swal.fire({
                        "title":"{{m}}",
                        "text":"",
                        "icon":"success"
                    })
                </script>
            {% endfor %}
        {% endif %}
    {%endif%}

    
  </div>
</div>
<!--info juego-->

  <div class="container-info">
  {% if juegos.online == True %}
  <p> <img src="{% static 'cliente/img/mandopng.png'%}" width="40px" style="margin-right: 5px;" alt="">Juego Online Activado</p>
  {% else %}
  <p> <img src="{% static 'cliente/img/mandopng.png'%}" width="40px" style="margin-right: 5px;" alt="">Juego Offline Activado</p>
  {% endif %}
  {% if juegos.cantidad_jugadores == 1%}
  <p> <img src="{% static 'cliente/img/user_icon_149851.png'%}" width="40px"  alt="">1 Jugador</p>
  {% else%}
  <p> <img src="{% static 'cliente/img/user_icon_149851.png'%}" width="40px"  alt="">{{juegos.cantidad_jugadores}} Jugadores</p>
  {% endif %}
  {% if juegos.mas18 == True%}
  <p> <img src="{% static 'cliente/img/mAture 17.jpg'%}" width="40px" alt=""> +18</p>
  
  {% endif %}
  
  </div> 

  
</div>  

 
 <!--trailer-->
 <details>
    <summary>TRAILER</summary>
    <div class="video">
      {{juegos.video|safe}}
    </div>
</details>
{%endfor%}
{% endif %} 
    
{% endblock %}
                                       
