{% extends 'cliente/home.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'cliente/css/detalles.css'%}">
{% endblock %}


{% block js %}


    <script src="{% static 'cliente/js/api.js'%}"></script>
{% endblock %}

{% block contenido %}

<!--TITULO-->

<div class="container" >
  <img class="img-fluid" src="{% static 'cliente/img/spiderman 2 fondo.jpeg'%}" alt="" >
</div>
<div class="container-card">
<div class="card text-bg-dark mb-3" style=>
  <div class="card-header" ><h1>Spiderman 2 </h1></div>
  <div class="card-body-1">
    <h6 class="card-title-2" style=" margin-left: 5px; border: 1px solid #fff; min-width: 7%; height: 30px;padding: 3px;" > PS5 </h6> <h6 class="card-title" > Edicion Estandar</h6>
  </div>
  <div class="card-body">
    <p class="card-text-1">
      4.82 <img src="/img/estrella.png" width="40px" style="margin-bottom: 5px;" alt=""> 
      <img src="/img/estrella.png" width="40px" style="margin-bottom: 5px;" alt="">
      <img src="/img/estrella.png" width="40px" style="margin-bottom: 5px;" alt="">
      <img src="/img/estrella.png" width="40px" style="margin-bottom: 5px;" alt="">
      <img src="/img/estrella.png" width="40px" style="margin-bottom: 5px;" alt=""> 100 mil Calificaciones
    </p>
    <br>
    <br>
    <h3 >CLP 44.990$</h3>
    
    <button type="button" id="preciogow"  class="btn btn-primary-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Agregar al Carrito
    </button>
   
  </div>
</div>
<!--info juego-->

  <div class="container-info">
  <p> <img src="/img/mandopng.png" width="40px" style="margin-right: 5px;" alt="">Juego Offline Activado</p>
  <p> <img src="/img/user_icon_149851.png" width="40px"  alt="">1 Jugador</p>
  <p> <img src="/img/mATURE 17.jpg" width="40px" alt="">Derramiento de Sangre</p>
  </div>  
     
</div>  

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog2">
                <div class="modal-content modal-content2">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmar Compra</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body modal-body2" id="">
                    <div class="subtotal">
                      <p>Subtotal</p> <input type="number" name="" id="subtotal">
                    </div>
                    <p>Impuestos</p>
                    <p>Total</p>
                    <H5>Medios de Pagos</H5>
                    <div class="metodo">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          <img src="/img/paypal_logo_icon_170865.png" alt="" class="card-img-top" id="paypal">
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          <img src="/img/Logo_BancoEstado.svg.png" alt="" class="card-img-top">
                        </label>
                      </div>
                    </div>
                    <h5>Resumen</h5>
                    <div class="Resumen">
                      <div class="card2 mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="/img//spider-man-2-official-game.jpg" class="img-fluid2 rounded-start" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body2">
                              <h5 class="card-title2">God of War Ragnarok</h5>
                              <p class="card-text" >$10.900 CLP</p>
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer modal-footer2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Seguir Comprando</button>
                    <button type="button" class="btn btn-primary">Comprar</button>
                  </div>
                </div>
              </div>
            </div>
    </div>          
  </div>

 <!--trailer-->
    <details>
        <summary>TRAILER</summary>
        <div class="video">
         <video controls autoplay muted src="{% static 'cliente/videos/Marvel’s Spider-Man 2 _ Tráiler de la historia _ PS5.mp4'%}">  </video>
        </div>
    </details>
    
  {% endblock %}