{% extends 'cliente/home.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static  'cliente/css/juegos.css'%}">
{% endblock %}

{% block js %}

    <script src="{% static 'cliente/js/api.js'%}"></script>
{% endblock %}

{% block contenido %}

<H1 class="titulo">JUEGOS PS4</H1>
<div class="juntar"> <!-- CARDS AL LADO DE Otra-->
    {% for juegos in juegoss %}
    {%if juegos.id_categoria.idcategoria == '2' %}
    <div class="card mr-3" style="width: 18rem;">
        <img loading="lazy" src="{{juegos.imagen.url}} " class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">{{juegos.nombre}}</p>
            <hr>
            <p class="card-text">{{juegos.puntuacion}}</p>
        </div>
        <!--Opcion comprar-->
        <div class="option-shop">
            <button type="button" class="btn btn-primary"><a href="{% url 'game' idjuego=juegos.idjuego %}" style="text-decoration: none; color: #fff;" >Detalles</a></button>
        </div>
    </div>
    
    {% endif %}
{% endfor%}

</div>
{% endblock %}