{% extends 'cliente/home.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block css %}
<link rel="stylesheet" href="{% static  'cliente/css/style.css'%}">
<link rel="stylesheet" href="{% static  'cliente/css/login.css'%}">
{% endblock %}

{% block js %}
<script src="{% static 'cliente/js/script.js'%}"></script>
<script src="{% static 'cliente/js/cambio-fondo.js'%}"></script>
<script src="{% static 'cliente/js/api.js'%}"></script>

{% endblock %}

    
{% block contenido %}

    <h1>login</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        
        <button type="submit"> iniciar sesion</button>
        <a href="{% provider_login_url 'google' %}">Iniciar Sesion Con Google</a>
    </form>
    
    
{% endblock %}